@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');




nav {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-style: normal;
        }
.navbar-brand {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
body { 
        font-family: "Cabin", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
    
    .main { 
        margin: 25px;
        font-optical-sizing: auto;
        font-weight: 500;
        margin: 10px 28px;
        text-align: center;
    }
   
.descPrinc {
color: #373A3C;
font-size: 40px;
}

.mainReceta p{
    font-optical-sizing: auto;
    font-weight: 500;
    margin: 10px 28px;
    text-align: center;
    font-size: 16px;
}

.col h1 {
    font-size: 40px;
}


.buttonSec {
 margin: 30px;
 display: inline-flex;
}

.imagenSlider img {
width: 200px;
padding: 68px 20px 0 0;
display: inline-block;
}

ul li {
   
}

.newsLetter{
    background-color: #DC3545;
color: #FFFFFF;
}

.logoRico {  
    font-family: "Lobster", sans-serif; 
    font-weight: 400;
    font-style: normal;
}

footer{
    padding-top: 20px;
    background-color: #373A3C;
    color: #FFFFFF;
    text-align: center;
    font-size: 37px;
}



#recipeCardButton {
    width: auto;
 
}


#receta1 {
    display: block;
}






 
   

   



